:root{

  --text-xs:0.75rem;
  --text-sm:0.875rem;
  --text-md:1rem;
  --text-lg:1.2rem;
  --text-xl:1.5rem;
  --text-2xl:2rem;
  --text-3xl:3rem;
  --text-4xl:4.5rem;

  --weight-regular:400;
  --weight-medium:500;
  --weight-semibold:600;
  --weight-bold:700;
}

h1{
  max-width:980px;

  font-size:clamp(3.4rem, 8vw, 6.5rem);

  text-wrap:balance;

  font-weight:700;

  line-height:1.05;

  letter-spacing:-0.04em;
}

h2{
  font-size:clamp(2rem, 5vw, 4rem);

  font-weight:700;

  line-height:1.1;

  letter-spacing:-0.03em;
}

h3{
  font-size:clamp(1.5rem, 4vw, 2.2rem);

  font-weight:600;
}

p{
  color:rgba(245,247,255,0.82);

  font-size:1rem;

  line-height:1.8;
}